{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block body %}
<section class="py-5">
    <div class="pricing-header mx-auto text-center">
        <h4 class="fs-5 text-body-secondary">Авторизация</h4>
    </div>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="container flash {{ cat }}">{{msg}}</div>
    {% endfor %}
    <main class="form-signin m-auto" style="width: 400px;">
        <form method="post">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
            <div>
                {{ field.label() }}
                {% if field.errors %}
                {{ field(class='warning form-control') }}
                <span class="warning">
                    {% for e in field.errors %}
                        {{ e }}
                    {% endfor %}
                </span>
                {% else %}
                {{ field(class='form-control') }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-check text-start my-3">
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            {{ form.submit(class='btn btn-primary w-100 py-2 my-2') }}
            <a class="btn btn-outline-dark w-100 py-2" href="{{url_for('register')}}">Регистрация</a>
        </form>
    </main>
</section>
{% endblock %}