{% extends 'admin/base_admin.html' %}

{% block title %}
Редактировать категории товаров
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Shop</h1>
        <p class="fs-5 text-body-secondary">Редактировать категории товаров</p>
        {% for cat_msg, msg in get_flashed_messages(True) %}
            <div class="container flash {{ cat_msg }}">{{msg}}</div>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for cat in categories %}
        <div class="col">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <a class="card-title" href="#">{{cat.name}}</a>
                    {% for key in cat.desc %}
                    <p>{{ key }}</p>
                    {% endfor %}
                    <div class="d-grid">
                        <a href="{{ url_for('.category_update', cat_id=cat.id) }}" type="button" class="btn btn-outline-info">Редактировать</a>
                        <a href="{{ url_for('.category_delete', cat_id=cat.id) }}" type="button" class="btn btn-outline-warning" onclick="return confirm('Удаление категории также удалит все товары, связанные с данной категорией. Вы уверены?')">Удалить</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}