{% extends 'admin/base_admin.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Shop</h1>
        <p class="fs-5 text-body-secondary">Главная страница</p>
    </div>

    <div class="row">
        {% for key, val in counts_dict.items() %}
        <label>{{key}}: {{val}}</label>
        {% endfor %}
    </div>

</div>
{% endblock %}