{% extends 'admin/base_admin.html' %}

{% block title %}
Пользователи
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Shop</h1>
        <p class="fs-5 text-body-secondary">Пользователи</p>
        {% for cat_msg, msg in get_flashed_messages(True) %}
            <div class="container flash {{ cat_msg }}">{{msg}}</div>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for user in users %}
        <div class="col">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <label class="card-title">{{user.name}}</label>
                    <p>{{ user.email }}</p>
                    <p>{{ user.city }}</p>
                    <p>{{ user.birth }}</p>
                    <div class="d-grid">
<!--                        <a href="{{ url_for('.user_update', user_id=user.id) }}" type="button" class="btn btn-outline-info">Редактировать</a>-->
                        <a href="{{ url_for('.user_delete', user_id=user.id) }}" type="button" class="btn btn-outline-warning" onclick="return confirm('Вы уверены?')">Удалить</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}